<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :club_id, :value => params[:club_id] %>
  <%= select_tag(:gender_id, options_for_select([[I18n.t('basic.male'), 1], [I18n.t('basic.female'), 2]], 1), {:class => 'select-style'}) %>
  <%= select_tag(:age_id, options_for_select([[I18n.t('basic.seniors'), 1], [I18n.t('basic.junior_a'), 2]], 1), {:class => 'select-style'}) %>
  <%= select_tag(:class_id, options_for_select([['1', 1], ['2', 2]], 1), {:class => 'select-style'}) %>
  <%= f.hidden_field :team_club_name, :value => @team_club_name %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
