<h1>Listing teams</h1>

<table>
  <tr>
    <th>Club ID</th>
    <th>Team ID</th>
    <th>Team Type ID</th>
    <th>Club</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.club_id %></td>
    <td><%= team.id %></td>
    <td><%= team.team_type_id %></td>
    <td><%= team.club.club_name %></td>
    <td><%= team.team_type(team.team_type_id) %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
