<p id="notice"><%= notice %></p>

<p>
  <b>Team name:</b>
  <%= @team.team_name %>
</p>

<table>
  <tr>
    <th>ID</th>
    <th>Player name</th>
    <th>Team</th>
    <th>Player number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.id %></td>
    <td><%= player.player_name %></td>
    <td><%= player.team_id %></td>
    <td><%= player.player_number %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %> |
<%= link_to 'New Player', new_player_path(:team_id=>@team.id) %>
