<h1>Listing ticker_activities</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Activity</th>
    <th>Player</th>
    <th>Time</th>
    <th>Home Or Away</th>
    <th>Team</th>
    <th>Goal Area</th>
    <th>Field X</th>
    <th>Field Y</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticker_activities.each do |ticker_activity| %>
  <tr>
    <td><%= ticker_activity.game_id %></td>
    <td><%= ticker_activity.activity_id %></td>
    <td><%= ticker_activity.player_id %></td>
    <td><%= ticker_activity.time %></td>
    <td><%= ticker_activity.home_or_away %></td>
    <td><%= ticker_activity.team_id %></td>
    <td><%= ticker_activity.goal_area %></td>
    <td><%= ticker_activity.field_position_x %></td>
    <td><%= ticker_activity.field_position_y %></td>
    <td><%= link_to 'Show', ticker_activity %></td>
    <td><%= link_to 'Edit', edit_ticker_activity_path(ticker_activity) %></td>
    <td><%= link_to 'Destroy', ticker_activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticker', new_ticker_activity_path %>

<h3>Import a CSV File</h3>
<%= form_tag import_ticker_activities_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
<% end %>
