<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @ticker_activity.game_id %>
</p>

<p>
  <b>Activity:</b>
  <%= @ticker_activity.activity_id %>
</p>

<p>
  <b>Player:</b>
  <%= @ticker_activity.player_id %>
</p>

<p>
  <b>Time:</b>
  <%= @ticker_activity.time %>
</p>


<%= link_to 'Edit', edit_ticker_activity_path(@ticker_activity) %> |
<%= link_to 'Back', ticker_activitys_path %>
