<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @participant.game_id %>
</p>

<p>
  <b>Team:</b>
  <%= @participant.team_id %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
