<div id="login_errors"></div>
<div class="facebox-header">  
  <%= I18n.t('basic.your_friends') %> 
</div>  

<div class="modal-body">

<table>
  <tr>
    <th><%= I18n.t('basic.name') %></th>
    <th><%= I18n.t('basic.status') %></th>
  </tr>

  <% current_user.friendship.each do |friendship| %>
    <tr>
      <td><%= friendship.friend.name %></td>
      <td>
        <% if user_signed_in? %>
          <%= friendship.status %>
          <% if friendship.status == "requested" %>
            (<%= link_to I18n.t('basic.accept'),
                          :controller => :friendships,
                          :action => :accept,
                          :id => friendship.friend.id %> |
            <%= link_to I18n.t('basic.reject'),
                          :controller => :friendships,
                          :action => :reject,
                          :id => friendship.friend.id %>)
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

</div>