<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.name %>
</p>

<h2>Your Friends</h2>
<ol>
<% @user.friendship.each do |friendship| %>
  <li><%= friendship.friend.id %>, <%= friendship.status %></li>
<% end %>
</ol>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>