<% if @player_mode == 'Overview' %>

  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_active"></div></div>
  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_inactive"></div></div>
  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_inactive"></div></div>
  
  <table class = "game_stat_table" cellspacing=0 cellpadding=0 border=0>

    <% i = 0 %>
    <% array_length = @player_stat.count %>

    <% while( i < array_length )  %>

      <tr class = "game_stat_row">
        <% if @player_stat[i] == I18n.t('basic.percentage') || @player_stat[i] == I18n.t('basic.attempts') || @player_stat[i] == I18n.t('basic.seven_attempts') || @player_stat[i] == I18n.t('basic.fb_attempts')  || @player_stat[i] == I18n.t('basic.throws')  || @player_stat[i] == I18n.t('basic.seven_throws')  || @player_stat[i] == I18n.t('basic.fb_throws') %>
          <td class = "player_stat_name_margin"><%= @player_stat[i] %></td>
        <% else %>
          <td class = "player_stat_name"><%= @player_stat[i] %></td>
        <% end %>
        <td class = "player_stat_value"><%= @player_stat[i+1] %></td>
        <td class = "player_stat_chart">
          <IMG src="/assets/blue.png" width="<%= @player_stat[i+2] -%>"  height=14 border=0><IMG src="/assets/grey.png" width="<%= @player_stat[i+3] -%>" height=14 border=0>
        </td>
      </tr>

      <% i += 4 %>

      <% if i == 21 or i == 42 or i == 63 %>

        <tr class = "game_stat_row">
        </tr>

      <% end %>

    <% end %>

  </table>

<% end %>

<% if @player_mode == 'GoalArea' %>

  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_inactive"></div></div>
  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_active"></div></div>
  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_inactive"></div></div>
  
  <div id="player_field">
    <canvas id="goal_canvas"></canvas>
    <canvas id="field_canvas"></canvas>
  </div>

  <p id="info_text" style= 'font-size: 11px; text-align: center; font-weight: normal;'><%= I18n.t('basic.text_goal_area_explain') %></p>

  <script>

<%# Canvas einrichten in Abhängigkeit von der Bildschirmgröße %>

    var PIXEL_RATIO_FIELD = (function () {
      var ctx_pixel = document.getElementById("field_canvas").getContext("2d"),
          dpr = window.devicePixelRatio || 1,
          bsr = ctx_pixel.webkitBackingStorePixelRatio ||
                ctx_pixel.mozBackingStorePixelRatio ||
                ctx_pixel.msBackingStorePixelRatio ||
                ctx_pixel.oBackingStorePixelRatio ||
                ctx_pixel.backingStorePixelRatio || 1;

      return dpr / bsr;
    })();

    var PIXEL_RATIO_GOAL = (function () {
      var ctx_pixel = document.getElementById("goal_canvas").getContext("2d"),
          dpr = window.devicePixelRatio || 1,
          bsr = ctx_pixel.webkitBackingStorePixelRatio ||
                ctx_pixel.mozBackingStorePixelRatio ||
                ctx_pixel.msBackingStorePixelRatio ||
                ctx_pixel.oBackingStorePixelRatio ||
                ctx_pixel.backingStorePixelRatio || 1;

      return dpr / bsr;
    })();

    createHiDPICanvas = function(w, h, jpg, ratio) {
      if (!ratio) {
        if (jpg == "field_canvas") {
          ratio = PIXEL_RATIO_FIELD;
        } else {
          ratio = PIXEL_RATIO_GOAL;
        }
      }
      var can = document.getElementById(jpg);
      can.width = w * ratio;
      can.height = h * ratio;
      can.style.width = w + "px";
      can.style.height = h + "px";
      can.getContext("2d").setTransform(ratio, 0, 0, ratio, 0, 0);
      return can;
    }

<%# Mausklick abfangen %>

    function doMouseDown(event) {
      canvas_x = event.pageX;
      canvas_y = event.pageY;

      canvas_x -= canvas.offsetLeft;
      canvas_y -= canvas.offsetTop;

      //alert("X=" + canvas_x + " >=" + canvas_y);
      var url = "/home/player_statistic_detail?game_id=<%= @game.id %>&player_id=<%= @player.id %>&home_or_away=<%= @home_or_away %>&player_mode=<%= @player_mode %>&x_click=" + canvas_x + "&y_click=" + canvas_y;
      console.log("URL: " + url);
      $.ajax(url);
    }

    function doMouseDown_goal(event) {
      canvas_x = event.pageX;
      canvas_y = event.pageY;

      canvas_x -= canvas_goal.offsetLeft;
      canvas_y -= canvas_goal.offsetTop;

      if (canvas_x >= 0 && canvas_x <= 70 && canvas_y >= 0 && canvas_y <= 47) {
        goal_area = "uull";
      }
      if (canvas_x >= 70 && canvas_x <= 140 && canvas_y >= 0 && canvas_y <= 47) {
        goal_area = "uul";
      }
      if (canvas_x >= 140 && canvas_x <= 210 && canvas_y >= 0 && canvas_y <= 47) {
        goal_area = "uulm";
      }
      if (canvas_x >= 210 && canvas_x <= 280 && canvas_y >= 0 && canvas_y <= 47) {
        goal_area = "uur";
      }
      if (canvas_x >= 280 && canvas_x <= 350 && canvas_y >= 0 && canvas_y <= 47) {
        goal_area = "uurr";
      }
      if (canvas_x >= 0 && canvas_x <= 70 && canvas_y >= 47 && canvas_y <= 94) {
        goal_area = "ull";
      }
      if (canvas_x >= 70 && canvas_x <= 140 && canvas_y >= 47 && canvas_y <= 94) {
        goal_area = "ul";
      }
      if (canvas_x >= 140 && canvas_x <= 210 && canvas_y >= 47 && canvas_y <= 94) {
        goal_area = "ulm";
      }
      if (canvas_x >= 210 && canvas_x <= 280 && canvas_y >= 47 && canvas_y <= 94) {
        goal_area = "ur";
      }
      if (canvas_x >= 280 && canvas_x <= 350 && canvas_y >= 47 && canvas_y <= 94) {
        goal_area = "urr";
      }
      if (canvas_x >= 0 && canvas_x <= 70 && canvas_y >= 94 && canvas_y <= 141) {
        goal_area = "mll";
      }
      if (canvas_x >= 70 && canvas_x <= 140 && canvas_y >= 94 && canvas_y <= 141) {
        goal_area = "ml";
      }
      if (canvas_x >= 140 && canvas_x <= 210 && canvas_y >= 94 && canvas_y <= 141) {
        goal_area = "mlm";
      }
      if (canvas_x >= 210 && canvas_x <= 280 && canvas_y >= 94 && canvas_y <= 141) {
        goal_area = "mr";
      }
      if (canvas_x >= 280 && canvas_x <= 350 && canvas_y >= 94 && canvas_y <= 141) {
        goal_area = "mrr";
      }
      if (canvas_x >= 0 && canvas_x <= 70 && canvas_y >= 141 && canvas_y <= 188) {
        goal_area = "lll";
      }
      if (canvas_x >= 70 && canvas_x <= 140 && canvas_y >= 141 && canvas_y <= 188) {
        goal_area = "ll";
      }
      if (canvas_x >= 140 && canvas_x <= 210 && canvas_y >= 141 && canvas_y <= 188) {
        goal_area = "lm";
      }
      if (canvas_x >= 210 && canvas_x <= 280 && canvas_y >= 141 && canvas_y <= 188) {
        goal_area = "lr";
      }
      if (canvas_x >= 280 && canvas_x <= 350 && canvas_y >= 141 && canvas_y <= 188) {
        goal_area = "lrr";
      }

      //alert("X=" + canvas_x + " >=" + canvas_y);
      var url = "/home/player_statistic_detail?game_id=<%= @game.id %>&player_id=<%= @player.id %>&home_or_away=<%= @home_or_away %>&player_mode=<%= @player_mode %>&goal_area=" + goal_area;
      console.log("URL: " + url);
      $.ajax(url);
    }

<%# Spielfeld erstellen %>

    var canvas = createHiDPICanvas(350, 228, "field_canvas");
    var ctx = canvas.getContext("2d");
    canvas.addEventListener("mousedown", doMouseDown, false);

    var width = canvas.width;
    var height = canvas.height;

    <% btn_width = 350 %>
    <% btn_height = 228 %>

<%# Tor erstellen %>

    var canvas_goal = createHiDPICanvas(350, 188, "goal_canvas");
    var ctx_goal = canvas_goal.getContext("2d");
    canvas_goal.addEventListener("mousedown", doMouseDown_goal, false);

    <% if @x_click == nil && @y_click == nil %>

<%# Farbige Spielfelder generieren %>

      <% outfield = 10 * btn_height / 130 %>
      <% rect_width = btn_width / 15 %>
      <% rect_height = (btn_height - outfield) / 10 %>

      <% i = 0 %>

      <% while( i < 150 )  %>
        <% for x_counter in 1..15 %>
          <% for y_counter in 1..10 %>
            <% if @player_field_matrix[i] > 0 %>
              <% coord_left = (x_counter - 1) * rect_width %>
              <% coord_right = x_counter * rect_width %>
              <% coord_top = outfield + ((y_counter - 1) * rect_height) %>
              <% coord_bottom = outfield + (y_counter * rect_height) %>
              <% if @player_field_matrix[i] == 1 %>
                ctx.fillStyle = "#CE4C4C";
              <% end %>
              <% if @player_field_matrix[i] == 2 %>
                ctx.fillStyle = "#FFE8A2";
              <% end %>
              <% if @player_field_matrix[i] == 3 %>
                ctx.fillStyle = "#98C05F";
              <% end %>
              ctx.fillRect(<%= coord_left %>, <%= coord_top %>, <%= rect_width %>, <%= rect_height %>);
              // ctx.lineWidth=0.5;
              // ctx.strokeRect(<%= coord_left %>, <%= coord_top %>, <%= rect_width %>, <%= rect_height %>);
            <% end %>
            <% i += 1 %>
          <% end %>
        <% end %>
      <% end %>

<%# Beschriftung der Wurfpositionen %>

      ctx.fillStyle = "#000";
      ctx.font = 'bold 18px Arial';
      <% x = 0 %>
      <% position_x = [20, 34, 54, 100, 100, 164, 144, 180] %>
      <% position_y = [30, 94, 69, 99, 69, 94, 69, 30] %>

      <% while( i < 174 ) %>
        <% if @player_field_matrix[i+1] > 0 %>
          <% position_text = @player_field_matrix[i].to_s  + " / " + @player_field_matrix[i+1].to_s %>
          <% text_x = position_x[x] * btn_width / 200 %>
          <% text_y = position_y[x] * btn_height / 120 %>
          ctx.fillText('<%= position_text %>', <%= text_x %>, <%= text_y %>);
          <% position_text = @player_field_matrix[i+2].to_s + " %" %>
          ctx.fillText('<%= position_text %>', <%= text_x %>, <%= text_y + 20 %>);
        <% end %>
        <% i += 3 %>
        <% x += 1 %>
      <% end %>

<%# Wurfecke generieren %>
      
      ctx_goal.font = 'bold 16px Arial';
      ctx_goal.textAlign = "center";

      <% while( i < 231 )  %>
        <% for y_counter in 1..4 %>
          <% for x_counter in 1..5 %>
            <% if @player_field_matrix[i+1] > 0 %>
              <% coord_left = (x_counter - 1) * 70 %>
              <% coord_top = (y_counter - 1) * 47 %>
              <% attempts = @player_field_matrix[i+1] %>
              <% percent = @player_field_matrix[i+2] %>
              <% if attempts > 0 %>
                <% if @player.player_position_first == '1001' %>
                  <% if percent <= 25 %>
                    ctx_goal.fillStyle = "#CE4C4C";
                  <% end %>
                  <% if percent > 25 && percent < 40 %>
                    ctx_goal.fillStyle = "#FFE8A2";
                  <% end %>
                  <% if percent >= 40 %>
                    ctx_goal.fillStyle = "#98C05F";
                  <% end %>
                <% else %>
                  <% if percent <= 33 %>
                    ctx_goal.fillStyle = "#CE4C4C";
                  <% end %>
                  <% if percent > 33 && percent < 66 %>
                    ctx_goal.fillStyle = "#FFE8A2";
                  <% end %>
                  <% if percent >= 66 %>
                    ctx_goal.fillStyle = "#98C05F";
                  <% end %>
                <% end %>
                ctx_goal.fillRect(<%= coord_left %>, <%= coord_top %>, 70, 47);
                ctx_goal.fillStyle = "#000";
                <% position_text = @player_field_matrix[i].to_s  + " / " + attempts.to_s %>
                ctx_goal.fillText('<%= position_text %>', <%= coord_left + 35 %>, <%= coord_top + 25 %>);
                <% position_text = percent.to_s + " %" %>
                ctx_goal.fillText('<%= position_text %>', <%= coord_left + 35 %>, <%= coord_top + 40 %>);
              <% end %>
            <% end %>
            <% i += 3 %>
          <% end %>
        <% end %>
      <% end %>

    <% else %>

<%# Kreis, Beschriftung der Position generieren %>

      <% attempts = 0 %>
      <% plus = 0 %>
      <% minus = 0 %>
      <% percent = 0 %>
      
      <% if @player.player_position_first == '1001' %>
        <% plus = @player_field_matrix[6] + @player_field_matrix[7] + @player_field_matrix[8] %>
        <% minus = @player_field_matrix[9] + @player_field_matrix[10] + @player_field_matrix[11] %>
      <% else %>
        <% plus = @player_field_matrix[0] + @player_field_matrix[1] + @player_field_matrix[2] %>
        <% minus = @player_field_matrix[3] + @player_field_matrix[4] + @player_field_matrix[5] %>
      <% end %>

      <% attempts = plus + minus %>
      <% percent = plus * 100 / attempts if attempts > 0 %>

      <% if attempts > 0 %>
        <% if @player.player_position_first == '1001' %>
          <% if percent <= 25 %>
            ctx.fillStyle = "#CE4C4C";
          <% end %>
          <% if percent > 25 && percent < 40 %>
            ctx.fillStyle = "#FFE8A2";
          <% end %>
          <% if percent >= 40 %>
            ctx.fillStyle = "#98C05F";
          <% end %>
        <% else %>
          <% if percent <= 33 %>
            ctx.fillStyle = "#CE4C4C";
          <% end %>
          <% if percent > 33 && percent < 66 %>
            ctx.fillStyle = "#FFE8A2";
          <% end %>
          <% if percent >= 66 %>
            ctx.fillStyle = "#98C05F";
          <% end %>
        <% end %>
      <% end %>

      <% text_x = @x_click.to_i %>
      <% text_y = @y_click.to_i %>

      ctx.arc(<%= text_x %>,<%= text_y %>,40,0,2*Math.PI);
      ctx.fill();

      ctx.fillStyle = "#355264";
      ctx.font = 'bold 18px Arial';
      ctx.textAlign = "center";
      <% position_text = plus.to_s + " / " + attempts.to_s %>
      ctx.fillText('<%= position_text %>', <%= text_x %>, <%= text_y %>);
      <% position_text = percent.to_s + "%" %>
      ctx.fillText('<%= position_text %>', <%= text_x %>, <%= text_y + 20 %>);

<%# Wurfecke generieren %>
      
      ctx_goal.font = 'bold 16px Arial';
      ctx_goal.textAlign = "center";
      <% i = 12 %>

      <% while( i < 72 )  %>
        <% for y_counter in 1..4 %>
          <% for x_counter in 1..5 %>
            <% if @player_field_matrix[i+1] > 0 %>
              <% coord_left = (x_counter - 1) * 70 %>
              <% coord_top = (y_counter - 1) * 47 %>
              <% attempts = @player_field_matrix[i+1] %>
              <% percent = @player_field_matrix[i+2] %>
              <% if attempts > 0 %>
                <% if @player.player_position_first == '1001' %>
                  <% if percent <= 25 %>
                    ctx_goal.fillStyle = "#CE4C4C";
                  <% end %>
                  <% if percent > 25 && percent < 40 %>
                    ctx_goal.fillStyle = "#FFE8A2";
                  <% end %>
                  <% if percent >= 40 %>
                    ctx_goal.fillStyle = "#98C05F";
                  <% end %>
                <% else %>
                  <% if percent <= 33 %>
                    ctx_goal.fillStyle = "#CE4C4C";
                  <% end %>
                  <% if percent > 33 && percent < 66 %>
                    ctx_goal.fillStyle = "#FFE8A2";
                  <% end %>
                  <% if percent >= 66 %>
                    ctx_goal.fillStyle = "#98C05F";
                  <% end %>
                <% end %>
                ctx_goal.fillRect(<%= coord_left %>, <%= coord_top %>, 70, 47);
                ctx_goal.fillStyle = "#000";
                <% position_text = @player_field_matrix[i].to_s  + " / " + attempts.to_s %>
                ctx_goal.fillText('<%= position_text %>', <%= coord_left + 35 %>, <%= coord_top + 25 %>);
                <% position_text = percent.to_s + " %" %>
                ctx_goal.fillText('<%= position_text %>', <%= coord_left + 35 %>, <%= coord_top + 40 %>);
              <% end %>
            <% end %>
            <% i += 3 %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  </script>

<% end %>

<% if @player_mode == 'AttemptOrder' %>
  
  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_inactive"></div></div>
  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_inactive"></div></div>
  <div style="float: left; width: 33%; margin-bottom: 28px;"><div id="player_statistic_active"></div></div>
  
  <div id="player_field">
    <canvas id="goal_canvas"></canvas>
    <canvas id="field_canvas"></canvas>
  </div>

  <% position_control = @position_control.to_i %>

  <div id="player_attempts_menu">
    <div id="player_attempts_menu_button">
      <div style="margin-left: 97px;"><%= button_to "<", home_player_statistic_detail_path(:game_id => @game.id, :player_id => @player.id, :home_or_away => @home_or_away, :player_mode => 'AttemptOrder', :position_control => (position_control - 1)), class: 'btn_player_menu', :remote => true %></div> 
    </div>
    <div id="player_attempts_menu_text"><%= @player_field_matrix[74] %></div>
    <div id="player_attempts_menu_button">
      <%= button_to ">", home_player_statistic_detail_path(:game_id => @game.id, :player_id => @player.id, :home_or_away => @home_or_away, :player_mode => 'AttemptOrder', :position_control => (position_control + 1)), class: 'btn_player_menu', :remote => true %>
    </div>
  </div>

  <script>

<%# Canvas einrichten in Abhängigkeit von der Bildschirmgröße %>

    var PIXEL_RATIO_FIELD = (function () {
      var ctx_pixel = document.getElementById("field_canvas").getContext("2d"),
          dpr = window.devicePixelRatio || 1,
          bsr = ctx_pixel.webkitBackingStorePixelRatio ||
                ctx_pixel.mozBackingStorePixelRatio ||
                ctx_pixel.msBackingStorePixelRatio ||
                ctx_pixel.oBackingStorePixelRatio ||
                ctx_pixel.backingStorePixelRatio || 1;

      return dpr / bsr;
    })();

    var PIXEL_RATIO_GOAL = (function () {
      var ctx_pixel = document.getElementById("goal_canvas").getContext("2d"),
          dpr = window.devicePixelRatio || 1,
          bsr = ctx_pixel.webkitBackingStorePixelRatio ||
                ctx_pixel.mozBackingStorePixelRatio ||
                ctx_pixel.msBackingStorePixelRatio ||
                ctx_pixel.oBackingStorePixelRatio ||
                ctx_pixel.backingStorePixelRatio || 1;

      return dpr / bsr;
    })();

    createHiDPICanvas = function(w, h, jpg, ratio) {
      if (!ratio) {
        if (jpg == "field_canvas") {
          ratio = PIXEL_RATIO_FIELD;
        } else {
          ratio = PIXEL_RATIO_GOAL;
        }
      }
      var can = document.getElementById(jpg);
      can.width = w * ratio;
      can.height = h * ratio;
      can.style.width = w + "px";
      can.style.height = h + "px";
      can.getContext("2d").setTransform(ratio, 0, 0, ratio, 0, 0);
      return can;
    }   

<%# Spielfeld erstellen %>

    var canvas = createHiDPICanvas(350, 228, "field_canvas");
    var ctx = canvas.getContext("2d");

    var width = canvas.width;
    var height = canvas.height;

    <% btn_width = 350 %>
    <% btn_height = 228 %>

<%# Tor erstellen %>

    var canvas_goal = createHiDPICanvas(350, 188, "goal_canvas");
    var ctx_goal = canvas_goal.getContext("2d");

<%# Kreis, Beschriftung der Position generieren %>

      <% attempts = 0 %>
      <% plus = 0 %>
      <% minus = 0 %>
      <% percent = 0 %>
      
      <% if @player.player_position_first == '1001' %>
        <% plus = @player_field_matrix[6] + @player_field_matrix[7] + @player_field_matrix[8] %>
        <% minus = @player_field_matrix[9] + @player_field_matrix[10] + @player_field_matrix[11] %>
      <% else %>
        <% plus = @player_field_matrix[0] + @player_field_matrix[1] + @player_field_matrix[2] %>
        <% minus = @player_field_matrix[3] + @player_field_matrix[4] + @player_field_matrix[5] %>
      <% end %>

      <% attempts = plus + minus %>
      <% percent = plus * 100 / attempts if attempts > 0 %>

      <% if attempts > 0 %>
        <% if @player.player_position_first == '1001' %>
          <% if percent <= 25 %>
            ctx.fillStyle = "#CE4C4C";
          <% end %>
          <% if percent > 25 && percent < 40 %>
            ctx.fillStyle = "#FFE8A2";
          <% end %>
          <% if percent >= 40 %>
            ctx.fillStyle = "#98C05F";
          <% end %>
        <% else %>
          <% if percent <= 33 %>
            ctx.fillStyle = "#CE4C4C";
          <% end %>
          <% if percent > 33 && percent < 66 %>
            ctx.fillStyle = "#FFE8A2";
          <% end %>
          <% if percent >= 66 %>
            ctx.fillStyle = "#98C05F";
          <% end %>
        <% end %>
      <% end %>

      <% text_x = @player_field_matrix[72].to_i %>
      <% text_y = @player_field_matrix[73].to_i %>

      ctx.arc(<%= text_x %>,<%= text_y %>,40,0,2*Math.PI);
      ctx.fill();

      ctx.fillStyle = "#355264";
      ctx.font = 'bold 18px Arial';
      ctx.textAlign = "center";
      <% position_text = plus.to_s + " / " + attempts.to_s %>
      ctx.fillText('<%= position_text %>', <%= text_x %>, <%= text_y %>);
      <% position_text = percent.to_s + "%" %>
      ctx.fillText('<%= position_text %>', <%= text_x %>, <%= text_y + 20 %>);

<%# Wurfecke generieren %>
      
      ctx_goal.font = 'bold 16px Arial';
      ctx_goal.textAlign = "center";
      <% i = 12 %>

      <% while( i < 72 )  %>
        <% for y_counter in 1..4 %>
          <% for x_counter in 1..5 %>
            <% if @player_field_matrix[i+1] > 0 %>
              <% coord_left = (x_counter - 1) * 70 %>
              <% coord_top = (y_counter - 1) * 47 %>
              <% attempts = @player_field_matrix[i+1] %>
              <% percent = @player_field_matrix[i+2] %>
              <% if attempts > 0 %>
                <% if @player.player_position_first == '1001' %>
                  <% if percent <= 25 %>
                    ctx_goal.fillStyle = "#CE4C4C";
                  <% end %>
                  <% if percent > 25 && percent < 40 %>
                    ctx_goal.fillStyle = "#FFE8A2";
                  <% end %>
                  <% if percent >= 40 %>
                    ctx_goal.fillStyle = "#98C05F";
                  <% end %>
                <% else %>
                  <% if percent <= 33 %>
                    ctx_goal.fillStyle = "#CE4C4C";
                  <% end %>
                  <% if percent > 33 && percent < 66 %>
                    ctx_goal.fillStyle = "#FFE8A2";
                  <% end %>
                  <% if percent >= 66 %>
                    ctx_goal.fillStyle = "#98C05F";
                  <% end %>
                <% end %>
                ctx_goal.fillRect(<%= coord_left %>, <%= coord_top %>, 70, 47);
                ctx_goal.fillStyle = "#000";
                <% position_text = @player_field_matrix[i].to_s  + " / " + attempts.to_s %>
                ctx_goal.fillText('<%= position_text %>', <%= coord_left + 35 %>, <%= coord_top + 25 %>);
                <% position_text = percent.to_s + " %" %>
                ctx_goal.fillText('<%= position_text %>', <%= coord_left + 35 %>, <%= coord_top + 40 %>);
              <% end %>
            <% end %>
            <% i += 3 %>
          <% end %>
        <% end %>
      <% end %>


  </script>

<% end %>
