<div id="info_headline" >

  <div style = "font-size: 24px;" > <%= @player.player_forename %> <%= @player.player_surename %> (<%= truncate(@player_team.club.club_name, length: 25) %> <%= @player_team.team_type(@player_team.team_type_id) %>) </div>

</div>

<div id="info_main" >

  <p id="info_text"> <%= I18n.t('basic.text_player_games') %> </p>
  <% @player_games.each do |game| %>

    <%= link_to line_items_create_game_line_items_path(:game_id=>game.id), :class => "sidebar" do %>
      <div id= "<%= cycle('first_row', 'second_row') -%>" >

        <%= game.club_home_name %> - <%= game.club_away_name %>

      </div>
    <% end %>

  <% end %>

</div>
