<% if item.game %>

	<%= link_to home_main_path(:game_id=>item.game.id), :class => "sidebar" do %>

		<div id="table_game">

			<div id="line_item_label">

				<% game_activities = item.game.count_game_activity() %>

				<% if game_activities < 100 %>
					<%= image_tag("stroke_one_small.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
				<% else %>
					<% if game_activities < 200 %>
						<%= image_tag("stroke_two_small.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
					<% else %>
						<% if game_activities < 300 %>
							<%= image_tag("stroke_three_small.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
						<% else %>
							<% if game_activities < 400 %>
								<%= image_tag("stroke_four_small.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
							<% else %>
								<% if game_activities > 399 %>
									<%= image_tag("stroke_five_small.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>

			</div>

			<div class="row_game">
				<div class="cell_game_header_319">
					<% if item.game.convert_game_date(item.game.game_date) %>
						<%= item.game.convert_game_date(item.game.game_date) %>
					<% else %>
						<%= I18n.t('basic.missing_date')%>
					<% end %>
				</div>
				<div class="cell_game_header_36"> </div>
				<div class="cell_game_white_6"> </div>
			</div>
			<div class="row_game">
				<div class="cell_game_white_319"><%= truncate(item.game.get_club_name_by_team_id(item.game.team_home_id), length: 22) %> <%= item.game.get_team_type_by_team_id(item.game.team_home_id) %></div>
				<div class="cell_game_white_36"><%= item.game.count_team_goals(item.game.team_home_id) %></div>
				<div class="cell_game_white_6"> </div>
			</div>
			<div class="row_game">
				<div class="cell_game_white_319"><%= truncate(item.game.get_club_name_by_team_id(item.game.team_away_id), length: 22) %> <%= item.game.get_team_type_by_team_id(item.game.team_home_id) %></div>
				<div class="cell_game_white_36"><%= item.game.count_team_goals(item.game.team_away_id) %></div>
				<div class="cell_game_white_6"> </div>
			</div>
		</div>

	<% end %>

<% end %>

<% if item.team %>

	<%= link_to home_main_path(:team_id=>item.team.id), :class => "sidebar" do %>
	<div id="table_game">

		<div id="line_item_label">
			<%= image_tag("team.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
		</div>

		<div id="line_item_main">
			<p id="item_text_main"><%= truncate(item.team.club.club_name, length: 22) %></p>
			<p id="item_text_sub"><%= item.team.team_type(item.team.team_type_id) %></p>
		</div>

	</div>
	<% end %>


<% end %>

<% if item.club %>

	<%= link_to home_main_path(:club_id=>item.club.id), :class => "sidebar" do %>
	<div id="table_game">

		<div id="line_item_label">
			<%= image_tag("club.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
		</div>

		<div id="line_item_main">
			<p id="item_text_main"><%= truncate(item.club.club_name, length: 22) %> (<%= item.club.club_name_short %>)</p>
			<% if item.club.district %>
				<p id="item_text_sub"><%= I18n.t('basic.district') %> <%= item.club.district.name %></p>
			<% end %>
		</div>

	</div>
	<% end %>


<% end %>

<% if item.player %>

	<%= link_to home_main_path(:player_id=>item.player.id), :class => "sidebar" do %>
	<div id="table_game">

		<div id="line_item_label">
			<%= image_tag("player.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
		</div>

		<div id="line_item_main">
			<p id="item_text_main"><%= item.player.player_forename %> <%= item.player.player_surename %></p>
			<p id="item_text_sub"><%= item.player.team.club.club_name %></p>
		</div>

	</div>
	<% end %>


<% end %>

<% if item.user %>

	<%= link_to home_main_path(:user_id=>item.user.id), :class => "sidebar" do %>

		<div id="table_game">

			<div id="line_item_label">
				<%= image_tag("user.png", :style => "padding-top: 10px; padding_bottom: 10px; margin-left: 4px;") %>
			</div>

			<div id="line_item_main">
				<%= item.user.name %>
			</div>

		</div>

	<% end %>


<% end %>
