<div id="game_statistic_nav" >

  <div id="game_headline">

    <table class = "game_headline_table" cellspacing=0 cellpadding=0 border=0>

      <tr class = "game_headline_row_date">

        <td colspan="5" class = "game_headline_date" >

          <%= @game.convert_game_date(@game.game_date) %>

        </td>

      </tr>

      <tr class = "game_headline_row">

        <td class = "game_headline_left">
          <%= truncate(@game.get_club_name_by_team_id(@game.team_home_id), length: 25) %>
        </td>
        <td class = "game_headline_middle_left">
          <%= @game.count_team_goals(@game.team_home_id) %>
        </td>
        <td class = "game_headline_middle">
          -
        </td>
        <td class = "game_headline_middle_right">
          <%= @game.count_team_goals(@game.team_away_id) %>
        </td>
        <td class = "game_headline_right">
          <%= truncate(@game.get_club_name_by_team_id(@game.team_away_id), length: 25) %>
        </td>

      </tr>

    </table>

  </div>

	<div id="menu">

		<ul>
      <li><%= link_to I18n.t('basic.overview'), home_main_path(:game_id=>@game.id), :remote => true %></li>
      <li class="submenu"><a href="#"><%= I18n.t('basic.game')%></a>
        <ul>
          <li><%= link_to I18n.t('basic.ticker'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GameTicker'), :class => "sidebar" %></li>
          <li class="submenu"><%= link_to I18n.t('basic.scorer'), home_game_statistic_main_path(:game_id=>@game.id, :mode => 'GameScorerAll'), :remote => true %>
            <ul>
              <li><%= link_to I18n.t('basic.all'), home_game_statistic_main_path(:game_id=>@game.id, :mode => 'GameScorerAll'), :remote => true %></li>
              <li><%= link_to @game.get_club_name_by_team_id(@game.team_home_id), home_game_statistic_main_path(:game_id=>@game.id, :mode => 'GameScorerHome'), :remote => true %></li>
              <li><%= link_to @game.get_club_name_by_team_id(@game.team_away_id), home_game_statistic_main_path(:game_id=>@game.id, :mode => 'GameScorerAway'), :remote => true %></li>
            </ul>
          </li>
          <li class="submenu"><a href="#"><%= I18n.t('basic.team_roster') %></a>
            <ul>
              <li><%= link_to @game.get_club_name_by_team_id(@game.team_home_id), home_game_player_roster_path(:game_id=>@game.id, :mode => 'GameRosterHome'), :remote => true %></li>
              <li><%= link_to @game.get_club_name_by_team_id(@game.team_away_id), home_game_player_roster_path(:game_id=>@game.id, :mode => 'GameRosterAway'), :remote => true %></li>
            </ul>
          </li>
          <li><%= link_to I18n.t('basic.goals'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GameGoals'), :remote => true %></li>
          <li><%= link_to I18n.t('basic.possession'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GamePossession'), :remote => true %></li>
          <li><%= link_to I18n.t('basic.game_history'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GameHistory'), :remote => true %></li>
          <li><%= link_to I18n.t('basic.penalties'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GamePenalty'), :remote => true %></li>
        </ul>
      </li>
      <li class="submenu"><a href="#"><%= I18n.t('basic.player')%> <%= @game.get_club_name_short_by_team_id(@game.team_home_id)%></a>
        <ul>

          <% @player_home.each do |player| %>

            <li class="submenu"><%= link_to @game.get_player_name_by_id(player.id), home_game_player_main_path(:game_id => @game.id, :player_id => player.id, :home_or_away => 1, :player_mode => 'Overview'), :remote => true %>
              <ul>
                <li><%= link_to I18n.t('basic.overview'), home_game_player_main_path(:game_id => @game.id, :player_id => player.id, :home_or_away => 1, :player_mode => 'Overview'), :remote => true %></li>
                <li><%= link_to I18n.t('basic.goal_area'), home_game_player_main_path(:game_id => @game.id, :player_id => player.id, :home_or_away => 1, :player_mode => 'GoalArea'), :remote => true %></li>
                <li><%= link_to I18n.t('basic.attempt_order'), home_game_player_main_path(:game_id => @game.id, :player_id => player.id, :home_or_away => 1, :player_mode => 'AttemptOrder', :position_control => 0), :remote => true %></li>           
              </ul>
            </li>

          <% end %>

        </ul>
      </li>
      <li class="submenu"><a href="#"><%= I18n.t('basic.player')%> <%= @game.get_club_name_short_by_team_id(@game.team_away_id)%></a>
        <ul>

          <% @player_away.each do |player| %>

            <li class="submenu"><%= link_to @game.get_player_name_by_id(player.id), home_game_player_main_path(:game_id => @game.id, :player_id => player.id, :home_or_away => 0, :player_mode => 'Overview'), :remote => true %>
              <ul>
                <li><%= link_to I18n.t('basic.overview'), home_game_player_main_path(:game_id => @game.id, :player_id => player.id, :home_or_away => 0, :player_mode => 'Overview'), :remote => true %></li>
                <li><%= link_to I18n.t('basic.goal_area'), home_game_player_main_path(:game_id => @game.id, :player_id => player.id, :home_or_away => 0, :player_mode => 'GoalArea'), :remote => true %></li>
                <li><%= link_to I18n.t('basic.attempt_order'), home_game_player_main_path(:game_id => @game.id, :player_id => player.id, :home_or_away => 0, :player_mode => 'AttemptOrder'), :remote => true %></li>           
              </ul>
            </li>

          <% end %>

        </ul>
      </li>
      <li class="submenu"><a href="#"><%= I18n.t('basic.extras')%></a>
        <ul>
          <li><%= link_to I18n.t('basic.live_ticker'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GameLinkToTicker'), :class => "sidebar" %></li>
          <li><%= link_to I18n.t('basic.link_to_game'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GameLinkToGame'), :remote => true %></li>
        </ul>
      </li>
    </ul>

	</div>

</div>

<div id="game_statistic_main" >

  <% if @mode == 'GameTicker' %>

    <%= render :file => "home/game_statistic_ticker" %>

  <% end %>

  <% if @mode == 'GameGoals' %>

    <%= render :file => "home/game_statistic_goals" %>

  <% end %>


  <% if @mode == 'GamePossession' %>

    <%= render :file => "home/game_statistic_possession" %>

  <% end %>


  <% if @mode == 'GameHistory' %>

    <%= render :file => "home/game_statistic_history" %>

  <% end %>

  <% if @mode == 'GamePenalty' %>

    <%= render :file => "home/game_statistic_penalty" %>

  <% end %>

  <% if @mode == 'GameLinkToTicker' %>

    <%= render :file => "home/game_link_to_ticker" %>

  <% end %>

  <% if @mode == 'GameLinkToGame' %>

    <%= render :file => "home/game_link_to_game" %>

  <% end %>

  <% if @mode == 'GameScorerAll' %>

    <%= render :file => "home/game_scorer" %>

  <% end %>

  <% if @mode == 'GameScorerHome' %>

    <%= render :file => "home/game_scorer" %>

  <% end %>

  <% if @mode == 'GameScorerAway' %>

    <%= render :file => "home/game_scorer" %>

  <% end %>

</div>
