<div id="game_statistic_nav" >

  <div id="game_headline">

    <%= @game.get_club_name_by_team_id(@game.team_home_id) %> - <%= @game.get_club_name_by_team_id(@game.team_away_id) %>

  </div>

	<div id="menu">
    
		<ul>
      <li><%= link_to I18n.t('basic.overview'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GameTicker'), :remote => true %></li>
      <li class="submenu"><a href="#"><%= I18n.t('basic.game')%></a>
        <ul>
          <li><%= link_to I18n.t('basic.ticker'), home_main_path(:game_id=>@game.id), :remote => true %></li>
          <li class="submenu"><%= link_to I18n.t('basic.scorer'), home_main_path(:game_id=>@game.id), :remote => true %>
            <ul>
              <li><%= link_to I18n.t('basic.all'), home_main_path(:game_id=>@game.id), :remote => true %></li>
              <li><%= link_to @game.get_club_name_by_team_id(@game.team_home_id), home_main_path(:game_id=>@game.id), :remote => true %></li>
              <li><%= link_to @game.get_club_name_by_team_id(@game.team_away_id), home_main_path(:game_id=>@game.id), :remote => true %></li>
            </ul>
          </li>
          <li class="submenu"><%= link_to I18n.t('basic.team_roster'), home_main_path(:game_id=>@game.id), :remote => true %>
            <ul>
              <li><%= link_to @game.get_club_name_by_team_id(@game.team_home_id), home_main_path(:game_id=>@game.id), :remote => true %></li>
              <li><%= link_to @game.get_club_name_by_team_id(@game.team_away_id), home_main_path(:game_id=>@game.id), :remote => true %></li>
            </ul>
          </li>
          <li><%= link_to I18n.t('basic.goals'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GameGoals'), :remote => true %></li>
          <li><%= link_to I18n.t('basic.possession'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GamePossession'), :remote => true %></li>
          <li><%= link_to I18n.t('basic.game_history'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GameHistory'), :remote => true %></li>
          <li><%= link_to I18n.t('basic.penalties'), home_game_statistic_main_path(:game_id => @game.id, :mode => 'GamePenalty'), :remote => true %></li>
        </ul>
      </li>
      <li class="submenu"><a href="#"><%= I18n.t('basic.player')%> <%= @game.get_club_name_short_by_team_id(@game.team_home_id)%></a>
        <ul>

          <% @player_home.each do |player_id| %>

            <li><%= link_to @game.get_player_name_by_id(player_id), home_game_player_main_path(:game_id => @game.id, :player_id => player_id, :home_or_away => 1), :remote => true %></li>

          <% end %>

        </ul>
      </li>
      <li class="submenu"><a href="#"><%= I18n.t('basic.player')%> <%= @game.get_club_name_short_by_team_id(@game.team_away_id)%></a>
        <ul>

          <% @player_away.each do |player_id| %>

            <li><%= link_to @game.get_player_name_by_id(player_id), home_game_player_main_path(:game_id => @game.id, :player_id => player_id, :home_or_away => 0), :remote => true %></li>

          <% end %>

        </ul>
      </li>
      <li><%= link_to I18n.t('basic.comments'), home_main_path(:game_id=>@game.id), :remote => true %></li>
    </ul>
    
	</div>

</div>

<div id="game_statistic_main" >
<%
=begin
%>
	<%= @game.get_club_name_by_team_id(@game.team_away_id) %>

	<% if @mode == 'GameGoals' %>

		Spiel     Listen     Spieler       Ticker       Kommentare

	<% end %>
<%
=end
%>
</div>