<table class = "game_stat_table" cellspacing=0 cellpadding=0 border=0>

  <tr class = "game_stat_row">

    <td colspan="3" class = "player_stat_name" style="font-weight:bold"><%= @player.player_forename %> <%= @player.player_surename %> (<%= @player.team.team_club_name %>)</td>

  </tr>

</table>

<%= button_to "Überblick", home_player_statistic_detail_path(:game_id => @game.id, :player_id => @player.id, :home_or_away => @home_or_away, :player_mode => 'Overview'), class: 'btn_submit', :remote => true %>
<%= button_to "Wurfbild", home_player_statistic_detail_path(:game_id => @game.id, :player_id => @player.id, :home_or_away => @home_or_away, :player_mode => 'GoalArea'), class: 'btn_submit', :remote => true %>
<%= button_to "Wurffolge", home_player_statistic_detail_path(:game_id => @game.id, :player_id => @player.id, :home_or_away => @home_or_away, :player_mode => 'AttemptOrder'), class: 'btn_submit', :remote => true %>

<div id="player_statistic_detail" >

  <%= render :file => "home/_player_statistic_detail" %>

</div>

