<% if @mode == 'GameTicker' %>

  <% @ticker_events.each do |ticker_event| %>

    <tr class = "game_stat_row">

      <td class = "game_ticker_left">

        <%= ticker_event.convert_seconds_to_time(ticker_event.time) %>

        <% if ticker_event.activity_id == '10170' %>

          image_tag(ticker_symbol_defense.png)

        <% end %>

        <% if ticker_event.activity_id == '10300' %>

          image_tag(ticker_symbol_tech_fault.png)

        <% end %>

        <% if ticker_event.activity_id == '10400' %>

          image_tag(ticker_symbol_yellow_card.png)

        <% end %>

        <% if ticker_event.activity_id == '10401' %>

          image_tag(ticker_symbol_two_out.png)

        <% end %>

        <% if ticker_event.activity_id == '10403' %>

          image_tag(ticker_symbol_red_card.png)

        <% end %>

        <% if ticker_event.activity_id == '10600' %>

          image_tag(ticker_symbol_timeout.png)

        <% end %>

        <% if ticker_event.activity_id == '10501' %>

          image_tag(ticker_symbol_sub_in.png)

        <% end %>

        <% if ticker_event.activity_id == '10700' %>

          image_tag(ticker_symbol_tactic.png)

        <% end %>

        <% if ticker_event.activity_id == '10150' %>

          image_tag(ticker_symbol_miss.png)

        <% end %>

        <% if ticker_event.activity_id == '10100' %>

          <%= ticker_event.ticker_result %>

        <% end %>

      </td>
      <td class = "game_ticker_right"><%= ticker_event.ticker_event_note %></td>

    </tr>

  <% end %>

<% end %>

<% if @mode == 'GameGoals' %>

<table class = "game_stat_table" cellspacing=0 cellpadding=0 border=0>

  <tr class = "game_stat_row">

    <td class = "game_stat_left"></td>
    <td class = "game_stat_center_left">
      <%= @game.get_club_name_by_team_id(@game.team_home_id) %>
    </td>
    <td class = "game_stat_center_right">
      <%= @game.get_club_name_by_team_id(@game.team_away_id) %>
    </td>
    <td class = "game_stat_right"></td>

  </tr>

  <% i = 0 %>
  <% array_length = @game_stat.count %>

  <% while( i < array_length )  %>

    <tr class = "game_stat_row">

      <td class = "game_stat_left"><%= @game_stat[i+1] %></td>
      <td colspan="2" class = "game_stat_center_middle">
        <%= @game_stat[i] %>
      </td>
      <td class = "game_stat_right"><%= @game_stat[i+2] %></td>

    </tr>

    <tr class = "game_stat_row">

      <td colspan="2" class = "game_stat_chart_left">
        <IMG src="/assets/grey.png" width="<%= @game_stat[i+3] -%>"  height=10 border=0><IMG src="/assets/blue.png" width="<%= @game_stat[i+4] -%>" height=10 border=0>
      </td>
      <td colspan="2" class = "game_stat_chart_right">
        <IMG src="/assets/red.png" width="<%= @game_stat[i+5] -%>" height=10 border=0><IMG src="/assets/grey.png" width="<%= @game_stat[i+6] -%>"  height=10 border=0>
      </td>

    </tr>

    <% i += 7 %>

    <% if i == 21 or i == 42 or i == 63 %>

      <tr class = "game_stat_row">
      </tr>

    <% end %>

  <% end %>

</table>

<% end %>


<% if @mode == 'GamePossession' %>

<table class = "game_stat_table" cellspacing=0 cellpadding=0 border=0>

  <tr class = "game_stat_row">

    <td class = "game_stat_left"></td>
    <td class = "game_stat_center_left">
      <%= @game.get_club_name_by_team_id(@game.team_home_id) %>
    </td>
    <td class = "game_stat_center_right">
      <%= @game.get_club_name_by_team_id(@game.team_away_id) %>
    </td>
    <td class = "game_stat_right"></td>

  </tr>

  <% i = 0 %>
  <% array_length = @game_possession.count %>

  <% while( i < array_length )  %>

    <tr class = "game_stat_row">

      <td class = "game_stat_left"><%= @game_possession[i+1] %></td>
      <td colspan="2" class = "game_stat_center_middle">
        <%= @game_possession[i] %>
      </td>
      <td class = "game_stat_right"><%= @game_possession[i+2] %></td>

    </tr>

    <tr class = "game_stat_row">

      <td colspan="2" class = "game_stat_chart_left">
        <IMG src="/assets/grey.png" width="<%= @game_possession[i+3] -%>" height=10 border=0><IMG src="/assets/blue.png" width="<%= @game_possession[i+4] -%>" height=10 border=0>
      </td>
      <td colspan="2" class = "game_stat_chart_right">
        <IMG src="/assets/red.png" width="<%= @game_possession[i+5] -%>" height=10 border=0><IMG src="/assets/grey.png" width="<%= @game_possession[i+6] -%>"  height=10 border=0>
      </td>

    </tr>

    <% i += 7 %>

  <% end %>

</table>

<% end %>


<% if @mode == 'GameHistory' %>

<table class = "game_stat_table" cellspacing=0 cellpadding=0 border=0>

  <tr class = "game_stat_row">

    <td class = "game_stat_left"></td>
    <td class = "game_stat_center_left">
      <%= @game.get_club_name_by_team_id(@game.team_home_id) %>
    </td>
    <td class = "game_stat_center_right">
      <%= @game.get_club_name_by_team_id(@game.team_away_id) %>
    </td>
    <td class = "game_stat_right"></td>

  </tr>

  <% i = 0 %>
  <% array_length = @game_lead.count %>

  <% while( i < array_length )  %>

    <tr class = "game_stat_row">

      <td class = "game_stat_left"><%= @game_lead[i+1] %></td>
      <td colspan="2" class = "game_stat_center_middle">
        <%= @game_lead[i] %>
      </td>
      <td class = "game_stat_right"><%= @game_lead[i+2] %></td>

    </tr>

    <tr class = "game_stat_row">

      <td colspan="2" class = "game_stat_chart_left">
        <IMG src="/assets/grey.png" width="<%= @game_lead[i+3] -%>" height=10 border=0><IMG src="/assets/blue.png" width="<%= @game_lead[i+4] -%>" height=10 border=0>
      </td>
      <td colspan="2" class = "game_stat_chart_right">
        <IMG src="/assets/red.png" width="<%= @game_lead[i+5] -%>" height=10 border=0><IMG src="/assets/grey.png" width="<%= @game_lead[i+6] -%>"  height=10 border=0>
      </td>

    </tr>

    <% i += 7 %>

  <% end %>

  <tr class = "game_stat_row">
  </tr>

  <tr class = "game_stat_row">

    <td class = "game_stat_left"></td>
    <td colspan="2" class = "game_stat_center_middle">
      <%= I18n.t('basic.game_history') %>
    </td>
    <td class = "game_stat_right"></td>

  </tr>

  <% i = 0 %>
  <% array_length = @game_history.count %>

  <% while( i < array_length )  %>

    <tr class = "game_stat_row">

      <td class = "game_stat_left"><%= @game_history[i+1] %></td>
      <td colspan="2" class = "game_stat_center_middle">
        <%= @game_history[i] %>
      </td>
      <td class = "game_stat_right"><%= @game_history[i+2] %></td>

    </tr>

    <tr class = "game_stat_row">

      <td colspan="2" class = "game_stat_chart_left">
        <IMG src="/assets/grey.png" width="<%= @game_history[i+3] -%>" height=10 border=0><IMG src="/assets/blue.png" width="<%= @game_history[i+4] -%>" height=10 border=0>
      </td>
      <td colspan="2" class = "game_stat_chart_right">
        <IMG src="/assets/red.png" width="<%= @game_history[i+5] -%>" height=10 border=0><IMG src="/assets/grey.png" width="<%= @game_history[i+6] -%>"  height=10 border=0>
      </td>

    </tr>

    <% i += 7 %>

  <% end %>

</table>

<% end %>

<% if @mode == 'GamePenalty' %>

<table class = "game_stat_table" cellspacing=0 cellpadding=0 border=0>

  <tr class = "game_stat_row">

    <td class = "game_stat_left"></td>
    <td class = "game_stat_center_left">
      <%= @game.get_club_name_by_team_id(@game.team_home_id) %>
    </td>
    <td class = "game_stat_center_right">
      <%= @game.get_club_name_by_team_id(@game.team_away_id) %>
    </td>
    <td class = "game_stat_right"></td>

  </tr>

  <% i = 0 %>
  <% array_length = @game_penalty.count %>

  <% while( i < array_length )  %>

    <tr class = "game_stat_row">

      <td class = "game_stat_left"><%= @game_penalty[i+1] %></td>
      <td colspan="2" class = "game_stat_center_middle">
        <%= @game_penalty[i] %>
      </td>
      <td class = "game_stat_right"><%= @game_penalty[i+2] %></td>

    </tr>

    <tr class = "game_stat_row">

      <td colspan="2" class = "game_stat_chart_left">
        <IMG src="/assets/grey.png" width="<%= @game_penalty[i+3] -%>" height=10 border=0><IMG src="/assets/blue.png" width="<%= @game_penalty[i+4] -%>" height=10 border=0>
      </td>
      <td colspan="2" class = "game_stat_chart_right">
        <IMG src="/assets/red.png" width="<%= @game_penalty[i+5] -%>" height=10 border=0><IMG src="/assets/grey.png" width="<%= @game_penalty[i+6] -%>"  height=10 border=0>
      </td>

    </tr>

    <% i += 7 %>

  <% end %>

</table>

<% end %>
