<% if @user.name == 'larsb' %>
  <% if !current_user.friend.include?(@user) %>

    <div id = "warning"
      <p id="info_text" style= 'font-size: 14px; text-align: left; font-weight: normal;'><%= I18n.t('basic.text_user_fives') %></p>
    </div>

  <% end %>
<% end %>

<table class = "game_stat_table" style = "margin-bottom: 18px; padding-top: 10px; padding-bottom: 10px;">

  <tr class = "game_stat_row">

    <td class = "player_stat_overview_headline" style = "font-size: 24px; text-align: left;"rowspan="3"><%= truncate(@player.player_forename.upcase, length: 15)%><br style = "margin-bottom: 12px;"><%=truncate(@player.player_surename.upcase, length: 15)  %></td>
    <td class = "player_stat_overview_headline"><%= I18n.t('basic.club').upcase  %></td>
    <td class = "player_stat_overview_headline"><%= I18n.t('basic.team').upcase  %></td>
    <td class = "player_stat_overview_headline"><%= I18n.t('basic.number_short').upcase  %></td>
    <td class = "player_stat_overview_headline"><%= I18n.t('basic.position').upcase  %></td>

  </tr>

  <tr class = "game_stat_row">

    <td class = "player_stat_overview_data"><%= @player.team.club.club_name_short %></td>
    <td class = "player_stat_overview_data"><%= @game.get_team_type_by_team_id(@player.team.id) %></td>
    <td class = "player_stat_overview_data"><%= @player.player_number %></td>
    <td class = "player_stat_overview_data"><%= @player.get_player_position_short_by_id(@player.player_position_first) %></td>

  </tr>

</table>

<div  id="player_statistic_overview">
  <div style="float: left; width: 33%;"><%= button_to I18n.t('basic.overview'), home_player_statistic_detail_path(:game_id => @game.id, :player_id => @player.id, :home_or_away => @home_or_away, :player_mode => 'Overview'), class: 'btn_player', :remote => true %></div> 
  <div style="float: left; width: 33%;"><%= button_to "Wurfbild", home_player_statistic_detail_path(:game_id => @game.id, :player_id => @player.id, :home_or_away => @home_or_away, :player_mode => 'GoalArea'), class: 'btn_player', :remote => true %></div> 
  <div style="float: left; width: 33%;"><%= button_to "Wurffolge", home_player_statistic_detail_path(:game_id => @game.id, :player_id => @player.id, :home_or_away => @home_or_away, :player_mode => 'AttemptOrder', :position_control => 0), class: 'btn_player', :remote => true %></div> 
</div>

<div id="player_statistic_detail" >

  <%= render :file => "home/_player_statistic_detail" %>

</div>

