<p id="info_headline" style = "margin: 0;">Tickermeldung</p>
<p id="info_text" style= 'font-weight: bold;'>Tickermeldungen ändern</p>
<p id="info_text">1. Tickermeldungen werden während eines Spiels ohne Dein zutun automatisch erstellt. Du kannst eine Tickermeldung ändern, wenn Du in der Spielübersicht auf den Reiter „Ticker“ gehst und dort die betreffende Aktion aussuchst.</p>
<p id="info_text"><%= image_tag("smart_game_ticker.png", :class => "pic") %></p>
<p id="info_text">2. In der darauf folgenden Bearbeitungsübersicht klickst Du auf den Punkt „Tickermeldung“.</p>
<p id="info_text"><%= image_tag("smart_game_edit_ticker.png", :class => "pic") %></p>
<p id="info_text">3. Hier kannst Du bei Bedarf Deine eigene Tickermeldung schreiben oder die automatisch erstellte Tickermeldung ändern.</p>
<p id="info_text"><%= image_tag("smart_game_edit_ticker_message.png", :class => "pic") %></p>
</br>
<p id="info_text" style= 'font-weight: bold;'>Tickermeldungen während eines Spiels erstellen</p>
<p id="info_text">Falls Du die Tickermeldung während des Spiels ändern möchtest, wähle in den Spieleinstellungen unter Eingabetiefe…</p>
<p id="info_text"><%= image_tag("smart_game_edit_input_depth.png", :class => "pic") %></p>
<p id="info_text">… den Punkt „Tickermeldung“ aus. Damit erhältst Du am Ende jeder eingegebenen Aktion während eines Spiels die Möglichkeit, eine eigene Tickermeldung zu erstellen.</p>
<p id="info_text"><%= image_tag("smart_game_input_depth_ticker_message.png", :class => "pic") %></p>