
<!--
<div id="navbar" >

  <div id="icon" >
    <%= image_tag("icon.png") %>
  </div>

  <div id="fives">
    FIVES
  </div>

  <div id="user_nav">
  <% if user_signed_in? %>
    <%=t 'basic.logged_in_as' %>
    <%= current_user.email %>  <br>
    <%= link_to "Abmelden | ", destroy_user_session_path, :method => :delete %>
    <%= link_to "Freunde | ", fb_user_friends_path, :remote => true %>
    <%= link_to "Freunde finden", fb_find_friends_path, :remote => true %>
  <% else %>
    <%= link_to I18n.t('basic.register'), fb_create_user_path, :remote => true, :class => "navbar"  %>
    <%=t 'basic.or' %>
    <%= link_to I18n.t('basic.log_in'), fb_login_path, :remote => true, :class => "navbar"  %>
  <% end %>
  </div>

</div>
-->

<div id="column_left" >
  <div id="menu_field" >
    <div id="icon_field" >

      <div id="icon" >
        <%= image_tag("icon.png") %>
      </div>

      <div id="fives">
        FIVES
      </div>

      <div class="dropdown">
        <% if user_signed_in? %>
          <div class="dropbtn"><%= image_tag("login_green.png") %></div>
          <div class="dropdown-content">
            <% title = I18n.t('basic.logged_in_as') + ': ' + current_user.name %>
            <%= link_to title %>
            <%= link_to I18n.t('basic.sign_out'), destroy_user_session_path, :method => :delete %>
            <%= link_to I18n.t('basic.friends'), fb_user_friends_path, :remote => true %>
          </div>
        <% else %>
          <div class="dropbtn"><%= image_tag("login_red.png") %></div>
          <div class="dropdown-content">
            <%= link_to I18n.t('basic.sign_in'), fb_login_path, :remote => true %>
            <%= link_to I18n.t('basic.sign_up'), fb_create_user_path, :remote => true %>
          </div>
        <% end %>
      </div>


    </div>

    <div id="search_field" >

      <%= render partial: "search" %>

    </div>

    <div id="column_left_footer" >

      Über Fives | Impressum | Kontakt

    </div>
  </div>

  <div id="side" >
    <% if @last_games.present? and @last_games.any? and @line_items.present? and @line_items.any? %>
      <%= render partial: 'side', locals: { line_items: @line_items } %>
    <% end %>
  </div>

</div>

<div id="column_right" >

  <div id="banner" >

  </div>

  <div id="main" >
    <% if @last_games.present? and @last_games.any? and @game %>
      <%= render partial: 'home/game' %>
    <% end %>
  </div>

</div>
