<div id="banner" >
	<div id="user_nav">  
  		<% if user_signed_in? %>  
    		Angemeldet als <%= current_user.email %>.   
    		<%= link_to "Abmelden", destroy_user_session_path, :method => :delete %>  
  		<% else %>  
    		<%= link_to "Registrieren", fb_create_user_path, :remote => true  %> oder  
        <%= link_to 'Anmelden', fb_login_path, :remote => true %>  
  		<% end %>  
	</div> 
 	<%= image_tag("LogoIconWebsite.png") %>
</div>
<div id="side" >
  	<%= render :file => "home/side" %>
</div>
<div id="main" >
  	<%= render :file => "home/statistic" %>
</div>
