<div id="banner" >
	<div id="user_nav">  
  		<% if user_signed_in? %>  
    		Signed in as <%= current_user.email %>. Not you?  
    		<%= link_to "Sign out", destroy_user_session_path %>  
  		<% else %>  
    		<%= link_to "Registrieren", new_user_registration_path %> oder  
        <%= link_to 'Einloggen', new_user_session_path, :id => 'login-link' %>  
  		<% end %>  
	</div> 
 	<%= image_tag("LogoIconWebsite.png") %>
</div>
<div id="side" >
  	<%= render :file => "home/side" %>
</div>
<div id="main" >
  	<%= render :file => "home/statistic" %>
</div>
