
<!--  
<div id="navbar" >

  <div id="icon" >
    <%= image_tag("icon.png") %>
  </div>

  <div id="fives"> 
    FIVES
  </div>
  
  <div id="user_nav"> 
  <% if user_signed_in? %>  
    <%=t 'basic.logged_in_as' %> 
    <%= current_user.email %>  <br> 
    <%= link_to "Abmelden | ", destroy_user_session_path, :method => :delete %> 
    <%= link_to "Freunde | ", fb_user_friends_path, :remote => true %>
    <%= link_to "Freunde finden", fb_find_friends_path, :remote => true %>  
  <% else %>  
    <%= link_to I18n.t('basic.register'), fb_create_user_path, :remote => true, :class => "navbar"  %> 
    <%=t 'basic.or' %>  
    <%= link_to I18n.t('basic.log_in'), fb_login_path, :remote => true, :class => "navbar"  %>  
  <% end %> 
  </div>  

</div>
-->

<div id="column_left" >
  <div id="menu_field" >
    <div id="icon_field" >

      <div id="icon" >
        <%= image_tag("icon.png") %>
      </div>

      <div id="fives"> 
        FIVES
      </div>

      <div class="dropdown">
        <div class="dropbtn"><%= image_tag("login.png") %></div>
        <div class="dropdown-content">
          <% if user_signed_in? %> 
            <% title = I18n.t('basic.logged_in_as') + ': ' + current_user.name %>
            <%= link_to title %>  
            <%= link_to I18n.t('basic.sign_out'), destroy_user_session_path, :method => :delete %> 
            <%= link_to I18n.t('basic.friends'), fb_user_friends_path, :remote => true %>
            <%= link_to I18n.t('basic.find_friends'), fb_find_friends_path, :remote => true %>  
          <% else %>  
            <%= link_to I18n.t('basic.log_in'), fb_login_path, :remote => true %>  
            <%= link_to I18n.t('basic.register'), fb_create_user_path, :remote => true %> 
          <% end %> 
        </div>
      </div>


    </div>
  
    <div id="search_field" >

      <div id="label_line_item">
        <%= image_tag("glass.png", :style => "padding-top: 26px; padding_bottom: 26px; margin-left: 4px;") %>
      </div>

      <%= render :file => "home/search" %>
  
    </div>
  </div>

  <div id="side" >

  </div>

  <div id="column_left_footer" >

    Über Fives | Impressum | Kontakt
    
  </div>

</div>

<div id="column_right" >
    
  <div id="banner" >
  
  </div>

  <div id="main" >
  	
  </div>

</div>