<div id="navbar" >

  <div id="logo" >
    <%= image_tag("icon.png") %>
  </div>

  <%= render :file => "home/search" %>
  
  <div id="user_nav"> 
    <% if user_signed_in? %>  
      <%=t 'basic.logged_in_as' %> 
      <%= current_user.email %>  <br> 
      <%= link_to "Abmelden | ", destroy_user_session_path, :method => :delete %> 
      <%= link_to "Freunde | ", fb_user_friends_path, :remote => true %>
      <%= link_to "Freunde finden", fb_find_friends_path, :remote => true %>  
    <% else %>  
      <%= link_to I18n.t('basic.register'), fb_create_user_path, :remote => true  %> 
      <%=t 'basic.or' %>  
      <%= link_to I18n.t('basic.log_in'), fb_login_path, :remote => true %>  
    <% end %> 
  </div>  

</div>

<div id="column_left" >

  <div id="side" >

  </div>

</div>

<div id="column_right" >

  <div id="banner" >
  
  </div>

  <div id="main" >
  	<%= render :file => "home/main" %>
  </div>

</div>