<div id="main_window" >

	<% if @game %>
		<div id="game_row">

			<div id="game_main_result"> 
				<div id="game_main_title_result"> 
					<%= I18n.t('basic.result') %>
				</div>
				<div>
					<div id="game_main_title_number"> 
						<%= @game.count_team_goals(@game.team_home_id, @game.id) %>
					</div>
					<div id="game_main_title_number"> 
						<%= @game.count_team_goals(@game.team_away_id, @game.id) %>
					</div>
				</div>
				<div>
					<div id="game_main_title_team"> 
						<%= @game.get_club_name_by_team_id(@game.team_home_id) %>
					</div>
					<div id="game_main_title_team"> 
						<%= @game.get_club_name_by_team_id(@game.team_away_id) %>
					</div>
				</div>
				<div id="game_main_title_proceed"> 
					<%= link_to I18n.t('basic.proceed_ticker'), fb_create_user_path, :class => "main" %>
				</div>
	
			</div>

			<div id="game_main_field">

				<div id="game_main_field_title"> 
					<%= I18n.t('basic.top_scorer') %>
				</div>
				<div>
					<div id="game_main_field_number"> 
						<%= @game.get_top_scorer_goals(@game.id) %>
					</div>
				</div>
				<div>
					<div id="game_main_field_team"> 
						<%= @game.get_top_scorer_name(@game.id) %>
					</div>
				</div>
				<div id="game_main_field_proceed"> 
					<%= I18n.t('basic.scorer') %>
				</div>

			</div>

			<div id="game_main_field">

				<div id="game_main_field_title"> 
					<%= I18n.t('basic.top_effective') %>
				</div>
				<div>
					<div id="game_main_field_number"> 
						<%= @game.get_top_effective_percent(@game.id) %>%
					</div>
				</div>
				<div>
					<div id="game_main_field_team"> 
						<%= @game.get_top_effective_name(@game.id) %>
					</div>
				</div>
				<div id="game_main_field_proceed"> 
					<%= I18n.t('basic.scorer') %>
				</div>

			</div>
		</div>

		<div id="game_row">

			<%= link_to home_game_main_path(:game_id => @game.id, :mode => 'GameGoals'), :remote => true, :class => "sidebar" do %>
			<div id="game_main_result"> 
				<div id="game_main_title_result"> 
					<%= I18n.t('basic.chancenverwertung') %>
				</div>
				<div>
					<div id="game_main_title_number"> 
						<%= @game.team_effective(@game.team_home_id, @game.id) %>%
					</div>
					<div id="game_main_title_number"> 
						<%= @game.team_effective(@game.team_away_id, @game.id) %>%
					</div>
				</div>
				<div>
					<div id="game_main_title_team"> 
						<%= @game.get_club_name_by_team_id(@game.team_home_id) %>
					</div>
					<div id="game_main_title_team"> 
						<%= @game.get_club_name_by_team_id(@game.team_away_id) %>
					</div>
				</div>
				<div id="game_main_title_proceed"> 
					<%= link_to I18n.t('basic.game_statistic'), home_game_main_path(:game_id => @game.id, :mode => 'GameGoals'), :remote => true, :class => "main" %>
				</div>
		
			</div>

			<% end %>

			<div id="game_main_field">

				<div id="game_main_field_title"> 
					<%= I18n.t('basic.lead') %>
				</div>
				<div>
					<div id="game_main_field_number"> 
						<%= @game.get_team_lead(@game.id, nil, "time") %> <%= I18n.t('basic.minutes_short') %>
					</div>
				</div>
				<div>
					<div id="game_main_field_team"> 
						<%= @game.get_team_lead(@game.id, nil, "name") %>
					</div>
				</div>
				<div id="game_main_field_proceed"> 
					<%= link_to I18n.t('basic.game_statistic'), fb_create_user_path, :class => "main" %>
				</div>

			</div>

		</div>
	<% end %>

	<% if @team %>
		
		<div id="team_nav" >

			<div style = "" > <%= @team.club.club_name %> </div>
			<div style = "font-size: 18px;font-weight: normal;"> <%= @team.team_type(@team.team_type_id) %> </div>
			<div style = "font-size: 18px;font-weight: normal; text-align: right;"> <%= link_to I18n.t('basic.new_player'), fb_player_new_path(:team_id => @team.id), :remote => true  %> </div>

		</div>

		<div id="team_main" >

			<table div id="game_item_table">
    			<% @players.each do |player| %>
      				<tr  class="<%= cycle('firstrow', 'secondrow') -%>">
        				<td><%= player.player_number %></td>
        				<td><%= player.player_forename %> <%= player.player_surename %></td>    
        				<td><%= player.get_player_position_by_id(player.player_position_first) %></td>
        				<td><%= link_to I18n.t('basic.edit'), fb_player_edit_path(:player_id => player.id, :team_id => player.team_id), :remote => true  %>  </td>
      				</tr>
    			<% end %>
  			</table>

		</div>

	<% end %>

	<% if @club %>
		
		<div id="team_nav" >

			<div style = "" > <%= @club.club_name %> </div>
			<div style = "font-size: 18px;font-weight: normal; text-align: right;"> <%= link_to I18n.t('basic.new_team'), fb_team_new_path(:club_id => @club.id), :remote => true  %> </div>

		</div>

		<div id="team_main" >

			<% @teams.each do |team| %>
				
				<%= link_to line_items_create_team_line_items_path(:team_id=>team.id), :remote => true, :class => "sidebar" do %>
					<div id= "<%= cycle('first_row', 'second_row') -%>" >

						<%= team.club.club_name %>
						<%= team.team_type(team.team_type_id) %>

					</div>
				<% end %>

			<% end %>

		</div>

	<% end %>

</div>