<div id="main_window" >

	<% if @game %>
		<div id="game_row">

			<%= link_to home_game_main_path(:game_id => @game.id, :mode => 'GameTicker'), :remote => true, :class => "sidebar" do %>
			<div id="game_main_result"> 
				<div id="game_main_title_result"> 
					<%= I18n.t('basic.result') %>
				</div>
				<div>
					<div id="game_main_title_number"> 
						<%= @game.count_team_goals(@game.team_home_id) %>
					</div>
					<div id="game_main_title_number"> 
						<%= @game.count_team_goals(@game.team_away_id) %>
					</div>
				</div>
				<div>
					<div id="game_main_title_team"> 
						<%= @game.get_club_name_by_team_id(@game.team_home_id) %>
					</div>
					<div id="game_main_title_team"> 
						<%= @game.get_club_name_by_team_id(@game.team_away_id) %>
					</div>
				</div>
				<div id="game_main_title_proceed"> 
					<%= link_to I18n.t('basic.game_statistic'), home_game_main_path(:game_id => @game.id, :mode => 'GameTicker'), :remote => true, :class => "main" %>
				</div>
	
			</div>
			<% end %>

			<div id="game_main_field">

				<div id="game_main_field_title"> 
					<%= I18n.t('basic.top_scorer') %>
				</div>
				<div>
					<div id="game_main_field_number"> 
						<%= @game.get_top_scorer_goals(@game.id) %>
					</div>
				</div>
				<div>
					<div id="game_main_field_team"> 
						<%= @game.get_top_scorer_name(@game.id) %>
					</div>
				</div>
				<div id="game_main_field_proceed"> 
					<%= I18n.t('basic.scorer') %>
				</div>

			</div>

			<div id="game_main_field">

				<div id="game_main_field_title"> 
					<%= I18n.t('basic.top_effective') %>
				</div>
				<div>
					<div id="game_main_field_number"> 
						<%= @game.get_top_effective_percent(@game.id) %>%
					</div>
				</div>
				<div>
					<div id="game_main_field_team"> 
						<%= @game.get_top_effective_name(@game.id) %>
					</div>
				</div>
				<div id="game_main_field_proceed"> 
					<%= I18n.t('basic.scorer') %>
				</div>

			</div>
		</div>

		<div id="game_row">

			<%= link_to home_game_main_path(:game_id => @game.id, :mode => 'GameGoals'), :remote => true, :class => "sidebar" do %>
			<div id="game_main_result"> 
				<div id="game_main_title_result"> 
					<%= I18n.t('basic.chancenverwertung') %>
				</div>
				<div>
					<div id="game_main_title_number"> 
						<%= @game.team_effective(@game.team_home_id, @game.id) %>%
					</div>
					<div id="game_main_title_number"> 
						<%= @game.team_effective(@game.team_away_id, @game.id) %>%
					</div>
				</div>
				<div>
					<div id="game_main_title_team"> 
						<%= @game.get_club_name_by_team_id(@game.team_home_id) %>
					</div>
					<div id="game_main_title_team"> 
						<%= @game.get_club_name_by_team_id(@game.team_away_id) %>
					</div>
				</div>
				<div id="game_main_title_proceed"> 
					<%= link_to I18n.t('basic.game_statistic'), home_game_main_path(:game_id => @game.id, :mode => 'GameGoals'), :remote => true, :class => "main" %>
				</div>
		
			</div>

			<% end %>

			<div id="game_main_field">

				<div id="game_main_field_title"> 
					<%= I18n.t('basic.lead') %>
				</div>
				<div>
					<div id="game_main_field_number"> 
						<%= @game.get_team_lead(@game.id, nil, "time") %>
					</div>
				</div>
				<div>
					<div id="game_main_field_team"> 
						<%= @game.get_team_lead(@game.id, nil, "name") %>
					</div>
				</div>
				<div id="game_main_field_proceed"> 
					<%= link_to I18n.t('basic.game_statistic'), fb_create_user_path, :class => "main" %>
				</div>

			</div>

		</div>
	<% end %>

	<% if @team %>
		
		<div id="info_headline" >

			<%= @team.club.club_name %> <%= @team.team_type(@team.team_type_id) %>

		</div>

		<div id="info_main" >

			<p id="info_text"> <%= I18n.t('basic.text_team_players') %> </p>

			<% @players.each do |player| %>
				
				<%= link_to line_items_create_player_line_items_path(:player_id=>player.id), :remote => true, :class => "sidebar" do %>
					<div id= "<%= cycle('first_row', 'second_row') -%>" >

						<div style="float: left; width: 34px;"><%= player.player_number %></div>
						<div style="float: left;"><%= player.player_forename %> <%= player.player_surename %> (<%= player.get_player_position_by_id(player.player_position_first) %>)</div>
						<div style="float: right;"><%= link_to I18n.t('basic.edit'), fb_player_edit_path(:player_id => player.id, :team_id => player.team_id), :remote => true %></div>

					</div>
				<% end %>

			<% end %>

			<p id="info_link"> <%= link_to I18n.t('basic.new_player'), fb_player_new_path(:team_id => @team.id), :remote => true  %> |  <%= link_to I18n.t('basic.csv_import'), fb_player_csv_path(:team_id => @team.id), :remote => true  %></p>

			<p id="info_text"> <%= I18n.t('basic.text_team_games') %> </p>

			<% @team_games.each do |game| %>
				
				<%= link_to line_items_create_game_line_items_path(:game_id=>game.id), :remote => true, :class => "sidebar" do %>
					<div id= "<%= cycle('first_row', 'second_row') -%>" >

						<%= game.club_home_name %> - <%= game.club_away_name %>

					</div>
				<% end %>

			<% end %>

		</div>

	<% end %>

	<% if @club %>
		
		<div id="info_headline" >

			<%= @club.club_name %>

		</div>

		<div id="info_main" >

			<p id="info_text"> <%= I18n.t('basic.text_club_teams') %> </p>

			<% @teams.each do |team| %>
				
				<%= link_to line_items_create_team_line_items_path(:team_id=>team.id), :remote => true, :class => "sidebar" do %>
					<div id= "<%= cycle('first_row', 'second_row') -%>" >

						<%= team.club.club_name %> (<%= team.team_type(team.team_type_id) %>)

					</div>
				<% end %>

			<% end %>

			<p id="info_link"> <%= link_to I18n.t('basic.new_team'), fb_team_new_path(:club_id => @club.id), :remote => true %> </p>

		</div>

	<% end %>

	<% if @player %>
		
		<div id="info_headline" >

			<div style = "font-size: 24px;" > <%= @player.player_forename %> <%= @player.player_surename %> (<%= @player_team.club.club_name %> <%= @player_team.team_type(@player_team.team_type_id) %>) </div>

		</div>

		<div id="info_main" >

			<p id="info_text"> <%= I18n.t('basic.text_player_games') %> </p>
			<% @player_games.each do |game| %>
				
				<%= link_to line_items_create_game_line_items_path(:game_id=>game.id), :remote => true, :class => "sidebar" do %>
					<div id= "<%= cycle('first_row', 'second_row') -%>" >

						<%= game.club_home_name %> - <%= game.club_away_name %>

					</div>
				<% end %>

			<% end %>

		</div>

	<% end %>

	<% if @user %>
		
		<div id="info_headline" >

			<%= @user.name %>

		</div>

		<div id="info_main" >

			<p id="info_text"> <%= I18n.t('basic.text_user_games') %> </p>

			<% @games.each do |game| %>
				
				<%= link_to line_items_create_game_line_items_path(:game_id=>game.id), :remote => true, :class => "sidebar" do %>
					<div id= "<%= cycle('first_row', 'second_row') -%>" >

						<%= game.convert_game_date(game.game_date) %>: <%= game.club_home_name %> - <%= game.club_away_name %>

					</div>
				<% end %>

			<% end %>

			<p id="info_link"> <%= link_to I18n.t('basic.request_friendship'),
                          :controller => :friendships,
                          :action => :req,
                          :id => @user.id %> </p>

		</div>

	<% end %>

</div>