<div id="main_window" >
	<% if @game %>
		<%= render partial: 'home/game' %>
	<% end %>

	<% if @team %>
		<%= render partial: 'home/team' %>
	<% end %>

	<% if @club %>
		<%= render partial: 'home/club' %>
	<% end %>

	<% if @player %>
		<%= render partial: 'home/player' %>
	<% end %>

	<% if @user %>
		<%= render partial: 'home/user' %>
	<% end %>
</div>
