<% @line_items.each do |item| %>

<% if item.game %>

	<div id="game_item" >
	<table div id="game_item_table">
		<tr>
			<td><%= item.game.get_club_name_by_team_id(item.game.team_home_id) %></td>
			<td><%= item.game.count_team_activity(1, item.game.team_home_id) %></td>
		</tr>
		<tr>
			<td><%= item.game.get_club_name_by_team_id(item.game.team_away_id) %></td>
			<td><%= item.game.count_team_activity(1, item.game.team_away_id) %></td>
		</tr>
		<tr>
			<td><%= item.updated_at %></td>
		</tr>
		<tr align="right">
			<td><%= link_to 'Show', home_main_path(:game_id=>item.game.id), :remote => true %></td>
		</tr>
	</table>
	</div>

<% end %>

<% if item.team %>

	<div id="game_item" >
	<table div id="game_item_table">
		<tr>
			<td><%= item.team.club.club_name %></td>
		</tr>
		<tr>
			<td><%= item.team.team_type(item.team.team_type_id) %></td>
		</tr>
		<tr align="right">
			<td><%= link_to 'Show', home_main_path(:team_id=>item.team.id), :remote => true %></td>
		</tr>
	</table>
	</div>

<% end %>

<% end %>