<% @line_items.each do |item| %>

<% if item.game %>
	
	<div id="table_game">
		<div class="row_game">
			<div class="cell_game_white_6"> </div>
			<div class="cell_game_header_295"><%= item.updated_at %></div>
			<div class="cell_game_header_36"> </div>
			<div class="cell_game_header_24"> </div>
			<div class="cell_game_white_6"> </div>
		</div>
		<div class="row_game">
			<div class="cell_game_white_6"> </div>
			<div class="cell_game_white_295"><%= item.game.get_club_name_by_team_id(item.game.team_home_id) %></div>
			<div class="cell_game_white_36"><%= item.game.count_team_goals(item.game.team_home_id, item.game.id) %></div>
			<div class="cell_game_white_24"> </div>
			<div class="cell_game_white_6"> </div>
		</div>
		<div class="row_game">
			<div class="cell_game_white_6"> </div>
			<div class="cell_game_white_295"><%= item.game.get_club_name_by_team_id(item.game.team_away_id) %> </div>
			<div class="cell_game_white_36"><%= item.game.count_team_goals(item.game.team_away_id, item.game.id) %></div>
			<div class="cell_game_white_24"><%= link_to image_tag('btn_next.png'), home_main_path(:game_id=>item.game.id), :remote => true %></div>
			<div class="cell_game_white_6"> </div>
		</div>
	</div>

<% end %>

<% if item.team %>

	<div id="game_item" >
	<table div id="game_item_table">
		<tr>
			<td><%= item.team.club.club_name %></td>
		</tr>
		<tr>
			<td><%= item.team.team_type(item.team.team_type_id) %></td>
		</tr>
		<tr align="right">
			<td><%= link_to 'Show', home_main_path(:team_id=>item.team.id), :remote => true %></td>
		</tr>
	</table>
	</div>

<% end %>

<% end %>