<% @games.each do |game| %>
<div id="game_item" >
<table div id="game_item_table">
	<tr>
		<td><%= game.home_team.team_name %></td>
		<td><%= game.count_team_activity(1, game.home_team.id) %></td>
	</tr>
	<tr>
		<td><%= game.away_team.team_name %></td>
		<td><%= game.count_team_activity(1, game.away_team.id) %></td>
	</tr>
	<tr align="right">
		<td><%= link_to 'Show', home_statistic_path(:game_id=>game.id), :remote => true %></td>
	</tr>
</table>
</div>
<% end %>