
<% if @game %>

  <table div id="game_item_table">
    <% @ticker_activities.each do |ticker_activity| %>
      <tr  class="<%= cycle('firstrow', 'secondrow') -%>">
        <td><%= ticker_activity.convert_seconds_to_time(ticker_activity.time / 1000) %></td>    
        <td><%= @game.count_team_goals_time(@game.team_home_id, ticker_activity.time) %>:<%= @game.count_team_goals_time(@game.team_away_id, ticker_activity.time) %></td>
        <td><%= ticker_activity.player.player_forename %> <%= ticker_activity.player.player_surename %></td>
      </tr>
    <% end %>
  </table>

  <table div id="game_item_table">
	<tr align="right">
		<td><%= link_to 'Home', home_statistic_home_path(:game_id=>@game.id), :remote => true %></td>
	</tr>
  </table>

<% end %>