<% if @game %>
<table>
  <tr>
    <th><%= @game.home_team.team_name %></th>
    <th> - </th>
    <th><%= @game.away_team.team_name %></th>
  </tr>
  <tr>
    <th><%= @game.count_team_activity(1, @game.home_team.id) %></th>
    <th> : </th>
    <th><%= @game.count_team_activity(1, @game.away_team.id) %></th>
  </tr>
</table>

<table>
  <tr>
    <th>Activity</th>
    <th>Player</th>
    <th>Time</th>
    <th>Team</th>
  </tr>

<% @tickers.each do |ticker| %>
  <tr>
    <td><%= ticker.activity_id %></td>
    <td><%= ticker.player.player_name %></td>
    <td><%= ticker.time %></td>
    <td><%= ticker.team_id %></td>
  </tr>
<% end %>
</table>
<% else %>
	<p>Noch keine Daten ausgewählt.</p>
<% end %>