<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>   
  <div class="form-inputs">
    <%= label_tag "home", "Home Team"%>
    <%= select_tag "home", options_from_collection_for_select(Team.all, :id, :team_name)%>
    <%= f.simple_fields_for :participants do |builder| %>
      <%= builder.input :team_id, :collection => Team.all.collect{ |t| [t.team_name, t.id ]}%>
    <% end %>
    <%= select_tag "away", options_from_collection_for_select(Team.all, :id, :team_name)%>
    <%= label_tag "away", "Away Team"%>
  </div> 
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


