<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= @game.club_home_name %></th>
    <th> - </th>
    <th><%= @game.club_away_name %></th>
  </tr>
  <tr>
    <th><%= @game.count_team_activity(1, @game.team_home_id) %></th>
    <th> : </th>
    <th><%= @game.count_team_activity(1, @game.team_away_id) %></th>
  </tr>
</table>

<table>
  <tr>
    <th>Activity</th>
    <th>Player</th>
    <th>Time</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticker_activities.each do |ticker_activity| %>
  <tr>
    <td><%= ticker_activity.activity_id %></td>
    <td><%= ticker_activity.player.player_forename %> <%= ticker_activity.player.player_surename %></td>
    <td><%= ticker_activity.time %></td>
    <td><%= ticker_activity.team_id %></td>
    <td><%= link_to 'Show', ticker_activity %></td>
    <td><%= link_to 'Edit', edit_ticker_path(ticker_activity) %></td>
    <td><%= link_to 'Destroy', ticker_activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<%= link_to 'New Ticker', new_ticker_path(:game_id=>@game.id) %>
