<p id="notice"><%= notice %></p>

<p>
  <b>Home:</b>
  <%= @game.home_team.team_name %>
</p>

<p>
  <b>Away:</b>
  <%= @game.away_team.team_name %>
</p>

<table>
  <tr>
    <th>Activity</th>
    <th>Player</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickers.each do |ticker| %>
  <tr>
    <td><%= ticker.activity_id %></td>

      <td><%= ticker.players.player_name %></td>

    <td><%= ticker.time %></td>
    <td><%= link_to 'Show', ticker %></td>
    <td><%= link_to 'Edit', edit_ticker_path(ticker) %></td>
    <td><%= link_to 'Destroy', ticker, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
