<h1>Listing ticker_activities</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Activity</th>
    <th>Player</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticker_activities.each do |ticker_activity| %>
  <tr>
    <td><%= ticker_activity.game_id %></td>
    <td><%= ticker_activity.activity_id %></td>
    <td><%= ticker_activity.player_id %></td>
    <td><%= ticker_activity.time %></td>
    <td><%= link_to 'Show', ticker_activity %></td>
    <td><%= link_to 'Edit', edit_ticker_path(ticker_activity) %></td>
    <td><%= link_to 'Destroy', ticker_activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticker', new_ticker_activity_path %>
