<h1>Listing tickers</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Activity</th>
    <th>Player</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickers.each do |ticker| %>
  <tr>
    <td><%= ticker.game_id %></td>
    <td><%= ticker.activity_id %></td>
    <td><%= ticker.player_id %></td>
    <td><%= ticker.time %></td>
    <td><%= link_to 'Show', ticker %></td>
    <td><%= link_to 'Edit', edit_ticker_path(ticker) %></td>
    <td><%= link_to 'Destroy', ticker, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticker', new_ticker_path %>
