<div class="modal-header">  
  <h3>Anmelden</h3> 
</div>  

<div class="modal-body">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true) do |f| %>
	<div id="login_errors">
  </div>
 	<%= f.input :email, :required => false, :autofocus => true %>
 	<%= f.input :password, :required => false %>
 	<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  
   <%= f.button :submit, "Anmelden" %>
<% end %>
</div>

<div class="modal-footer">
<%= render "devise/shared/links" %>
</div>