<div class="facebox-header"> 
  <%= I18n.t('basic.csv_import') %> 
</div> 

<div class="facebox_text"> 
  <%= I18n.t('basic.text_csv_import') %> 
</div> 

<p id="info_link"> <%= link_to I18n.t('basic.text_download_csv'), '/player.csv', :target => "_blank"  %> </p>

<%= form_tag import_players_path(:team_id => params[:team_id]), multipart: true do %>
  <%= file_field_tag :file, class: 'file_field_tag' %>
  <%= submit_tag I18n.t('basic.import_csv'), class: 'btn_submit' %>
<% end %>

