<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="facebox-header"> 
    <% if params[:player_id].blank? %>
      <%= I18n.t('basic.new_player') %> 
    <% else %>
      <%= I18n.t('basic.edit_player') %> 
    <% end %>
  </div>  

  <%= f.label :player_forename, I18n.t('basic.forename'), class: 'label_type' %>
  <%= f.text_field :player_forename, class: 'input_field' %>

  <%= f.label :player_surename, I18n.t('basic.surename'), class: 'label_type' %>
  <%= f.text_field :player_surename, class: 'input_field' %>

  <%= f.hidden_field :team_id, :value => params[:team_id] %>

  <%= f.label :player_number, I18n.t('basic.player_number'), class: 'label_type' %>
  <%= f.number_field :player_number, class: 'input_field' %>

  <% if @player.player_position_first %>
    <% choice = @player.player_position_first %>
  <% else %>
    <% choice = 0 %>
  <% end %>

  <%= f.label :player_position_first, I18n.t('basic.position_first'), class: 'label_type' %>
  <%= f.select :player_position_first, options_for_select([[I18n.t('basic.choose_position'), 0], [I18n.t('basic.goalkeeper'), 1001], [I18n.t('basic.left_wing'), 1002], [I18n.t('basic.left_back'), 1003], [I18n.t('basic.center_back'), 1004], [I18n.t('basic.right_back'), 1005], [I18n.t('basic.right_wing'), 1006], [I18n.t('basic.pivot'), 1007]], choice) %>

  <% if @player.player_position_second %>
    <% choice = @player.player_position_second %>
  <% else %>
    <% choice = 0 %>
  <% end %>

  <%= f.label :player_position_second, I18n.t('basic.position_second'), class: 'label_type' %>
  <%= f.select :player_position_second, options_for_select([[I18n.t('basic.choose_position'), 0], [I18n.t('basic.goalkeeper'), 1001], [I18n.t('basic.left_wing'), 1002], [I18n.t('basic.left_back'), 1003], [I18n.t('basic.center_back'), 1004], [I18n.t('basic.right_back'), 1005], [I18n.t('basic.right_wing'), 1006], [I18n.t('basic.pivot'), 1007]], choice) %>

  <% if @player.player_position_third %>
    <% choice = @player.player_position_third %>
  <% else %>
    <% choice = 0 %>
  <% end %>

  <%= f.label :player_position_third, I18n.t('basic.position_third'), class: 'label_type' %>
  <%= f.select :player_position_third, options_for_select([[I18n.t('basic.choose_position'), 0], [I18n.t('basic.goalkeeper'), 1001], [I18n.t('basic.left_wing'), 1002], [I18n.t('basic.left_back'), 1003], [I18n.t('basic.center_back'), 1004], [I18n.t('basic.right_back'), 1005], [I18n.t('basic.right_wing'), 1006], [I18n.t('basic.pivot'), 1007]], choice) %>

  <div class="actions">
    <%= f.submit I18n.t('basic.save_player'), class: 'btn_submit' %>
  </div>
<% end %>