<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_forename %><br />
    <%= f.text_field :player_forename %>
  </div>
  <div class="field">
    <%= f.label :player_surename %><br />
    <%= f.text_field :player_surename %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.number_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :player_number %><br />
    <%= f.number_field :player_number %>
  </div>
  <div class="field">
    <%= f.label :player_position_first %><br />
    <%= f.number_field :player_position_first %>
  </div>
  <div class="field">
    <%= f.label :player_position_second %><br />
    <%= f.number_field :player_position_second %>
  </div>
  <div class="field">
    <%= f.label :player_position_third %><br />
    <%= f.number_field :player_position_third %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
