<p id="notice"><%= notice %></p>

<p>
  <b>Player forename:</b>
  <%= @player.player_forename %>
</p>

<p>
  <b>Player surename:</b>
  <%= @player.player_surename %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team_id %>
</p>

<p>
  <b>Player number:</b>
  <%= @player.player_number %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
